# .travis.yml for cpuaff
#
# See eg http://docs.travis-ci.com/user/languages/cpp/
#
# This is much simplified (rake-free) version of the example at 
# https://github.com/rubinius/rubinius/blob/master/.travis.yml
#
# Dirk Eddelbuettel, 31 Jan 2015

language: cpp

compiler:
  - gcc
  - clang

before_install:
  - echo $LANG
  - echo $LC_ALL
  - sudo apt-get update && sudo apt-get install -y automake autoconf
  - if [ $CXX == g++ ]; then sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test; sudo apt-get update -qq; fi
  - if [ $CXX == clang++ ]; then sudo add-apt-repository ppa:h-rayflood/llvm; ; sudo apt-get update -qq; fi

install:
  - if [ $CXX == g++ ]; then sudo apt-get install g++-4.9; export CXX="g++-4.9"; fi
  - if [ $CXX == clang++ ]; then sudo apt-get install clang++-3.5; export CXX="clang++-3.5"; fi

before_script:
  - if [ $TRAVIS_OS_NAME == linux ]; then ./bootstrap.sh; fi

script: 
# FIXME  - ./configure && make && make check
  FIXME  - ./configure && make

notifications:
  email:
    on_success: change
    on_failure: change

os:
  - linux

