version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Update Package List
          command: apt-get update
      - run:
          name: Install g++
          command: apt-get install -y g++
      - run:
          name: Install autotools
          command: apt-get install -y autoconf automake
      - run:
          name: Install hwloc
          command: apt-get install -y libhwloc-dev
      - run:
          name: Install make
          command: apt-get install -y make
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: Build
          command: ./bootstrap.sh && ./configure && make && make check
      - run:
          name: Version
          command: g++ --version

