version: 2
jobs:
  build:
    docker:
      - image: debian:stretch
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Install dependenies
          command: apt-get update && apt-get install autoconf automake libhwloc-dev
      - run:
          name: Greeting
          command: echo Hello, world.
      - run:
          name: Print the Current Time
          command: date
      - run:
          name: Build
          command: ./bootstrap.sh && ./configure && make && make check
      - run:
          name: Version
          command: g++ --version

